---
layout: default
---

<div class="bg-black">
  <div class="mw8 center cf mv4 mv5-m mv6-l">
    <div class="fl mw7 mv4 w-100 w-50-ns">
      <p class="f2 f1-l lh-title lh-copy-l measure-narrow ma0 mb4" style="margin-top:10rem;">GBA Display</p>
      <p class="f3 f2-l lh-title lh-copy-l measure-narrow ma0 mv4">The new best way to display your GBA cartridges, custom tailored to their own size unlike other solutions.</p>
    </div>
    <div class="fl mw7 mv4 w-100 w-50-ns">
      <img class="fr" src="Expositor-GBA---Side.png" style="max-height: 42rem;"alt="">
    </div>
  </div>
</div>

<div class="bg-black">
  <div class="mw8 center cf">
    <div class="w-100 tc mb4 mb5-m mb6-l">
      <p class="f2 f1-l center lh-title lh-copy-l measure-narrow ma0 mb4">Choose Your Color</p>
      <p class="f3 f2-l center lh-title lh-copy-l measure-narrow ma0 mt4 mb5">To allow better customization, you can choose your system's color or any other one you might like.</p>

      <svg class="w-75" id="gba" data-name="gba" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 162 93"><defs><style>.cls-1{fill:#504e9b;}.cls-2{fill:#1c1b36;}.cls-3{fill:#a8a7cd;}</style></defs><g id="GBA"><path id="base" class="cls-1" d="M156.8 16.64c-1.16-5.63-4.1-5.06-6.1-5.24-4.84-.44-12.56-1.48-20-6.2-5.73-3.63-8.1-4.45-12.6-4.45H43.92c-4.5 0-6.88.82-12.6 4.44-7.47 4.7-15.2 5.76-20 6.2-2 .18-5-.38-6.1 5.24C3.63 24.3-.44 44.18.83 67.86 1.2 75.3 5.57 79 11.22 79.6c4.62.48 15.3 4.23 21.54 6.38 11.1 3.82 23.65 6.28 48.22 6.28s37.1-2.46 48.2-6.28c6.26-2.15 16.93-5.9 21.54-6.37 5.66-.57 10-4.3 10.43-11.74 1.27-23.68-2.8-43.57-4.38-51.22z"/><path id="oscuro1" class="cls-2" d="M124.1 46.8c-.45-11.57-1.45-21.12-2.6-29.42-.27-2-1.64-3.6-4.83-4.12C103.37 11.14 81 11 81 11s-22.38.18-35.67 2.3c-3.2.5-4.55 2.15-4.83 4.12-1.15 8.3-2.15 17.85-2.6 29.43-.3 6.95-.3 14.68-.3 23.17 0 3.9 3.13 7.62 9.22 9 6.85 1.5 12.94 3.48 34.18 3.73 21.24-.25 27.32-2.23 34.18-3.73 6.1-1.33 9.22-5 9.22-9 0-8.53-.02-16.26-.3-23.2z"/><rect id="claro" class="cls-3" x="45.33" y="20.04" width="71.35" height="44.8" rx=".88" ry=".88"/><path id="oscuro2" class="cls-2" d="M17.62 43.2H12.5c-1.3 0-1.82-.52-1.83-1.8s0-2.56 0-3.85a1.5 1.5 0 0 1 1.67-1.67h5.28V30.8c0-1.35.52-1.86 1.85-1.87s2.5 0 3.76 0a1.5 1.5 0 0 1 1.7 1.72v5.23h4.85c1.67 0 2.1.43 2.1 2.1v3.57a1.5 1.5 0 0 1-1.66 1.66h-5.28v5.1c0 1.34-.5 1.85-1.85 1.86s-2.52 0-3.77 0a1.5 1.5 0 0 1-1.72-1.72l.02-5.23zM5.2 16.64c-1.82-1.3-1.85-1.36-1.06-3.28A11.6 11.6 0 0 1 13.92 6c5.56-.77 11.13-1.5 16.7-2.26l4-.5v.2c-4.62 2.42-9.1 5.2-14.25 6.42a79 79 0 0 1-9.86 1.63c-2.77.3-4.43 1.48-5.07 4.24l-.22.9zM156.77 16.56a24.33 24.33 0 0 0-1-2.64 4.47 4.47 0 0 0-4-2.4 40.72 40.72 0 0 1-14.15-3c-3.47-1.5-6.8-3.32-10.18-5-.07 0-.12-.1-.32-.32l5.67.73q7.58 1 15.16 2.05c4.7.65 8.1 3 9.88 7.54.7 1.8.66 1.9-1.07 3.04zM153.55 37.08a5.4 5.4 0 1 1-5.3-5.46 5.35 5.35 0 0 1 5.3 5.46zM133.9 37a5.4 5.4 0 1 1-5.44 5.33A5.35 5.35 0 0 1 133.9 37zM29.6 62.25a2.5 2.5 0 1 1 2.4 2.58 2.46 2.46 0 0 1-2.4-2.58zM34.6 71.64a2.5 2.5 0 1 1-5-.15 2.5 2.5 0 0 1 5 .14z"/></g></svg>

      <div class="mv5 cf center">
        <p class="f5 f4-l center lh-title lh-copy-l ma0 mt3 mb4">Use the following buttons to change the colors:</p>
        <div class="mh1 mv2 pa3 dib br2 black" style="background-color:#bec6cd" onClick="artic();">Artic</div>
        <div class="mh1 mv2 pa3 dib br2" style="background-color:#2c2f33" onClick="black();">Black</div>
        <div class="mh1 mv2 pa3 dib br2" style="background-color:#cc91a9" onClick="fuchsia();">Fuchsia</div>
        <div class="mh1 mv2 pa3 dib br2" style="background-color:#cbb591" onClick="gold();">Gold</div>
        <div class="mh1 mv2 pa3 dib br2" style="background-color:#504e9b" onClick="indigo();">Indigo</div>
        <div class="mh1 mv2 pa3 dib br2 black" style="background-color:#e7e6ea" onClick="platinum();">Platinum</div>
        <div class="mh1 mv2 pa3 dib br2" style="background-color:#b92b2c" onClick="red();">Red</div>
        <div class="mh1 mv2 pa3 dib br2" style="background-color:#fb8d59" onClick="spice();">Spice</div>
      </div>

      <script type="text/javascript">
        function artic() {
          document.getElementById('base').style.fill='#bec6cd';
          document.getElementById('oscuro1').style.fill='#434548';
          document.getElementById('oscuro2').style.fill='#434548';
          document.getElementById('claro').style.fill='#dfe3e6';
        };
        function black() {
          document.getElementById('base').style.fill='#2c2f33';
          document.getElementById('oscuro1').style.fill='#0f1012';
          document.getElementById('oscuro2').style.fill='#0f1012';
          document.getElementById('claro').style.fill='#969799';
        };
        function fuchsia() {
          document.getElementById('base').style.fill='#cc91a9';
          document.getElementById('oscuro1').style.fill='#47333b';
          document.getElementById('oscuro2').style.fill='#47333b';
          document.getElementById('claro').style.fill='#e6c8d4';
        };
        function gold() {
          document.getElementById('base').style.fill='#cbb591';
          document.getElementById('oscuro1').style.fill='#473f33';
          document.getElementById('oscuro2').style.fill='#473f33';
          document.getElementById('claro').style.fill='#e5dac8';
        };
        function indigo() {
          document.getElementById('base').style.fill='#504e9b';
          document.getElementById('oscuro1').style.fill='#1c1b36';
          document.getElementById('oscuro2').style.fill='#1c1b36';
          document.getElementById('claro').style.fill='#a8a7cd';
        }
        function platinum() {
          document.getElementById('base').style.fill='#e7e6ea';
          document.getElementById('oscuro1').style.fill='#515152';
          document.getElementById('oscuro2').style.fill='#515152';
          document.getElementById('claro').style.fill='#f3f3f5';
        }
        function red() {
          document.getElementById('base').style.fill='#b92b2c';
          document.getElementById('oscuro1').style.fill='#410f0f';
          document.getElementById('oscuro2').style.fill='#410f0f';
          document.getElementById('claro').style.fill='#dc9596';
        }
        function spice() {
          document.getElementById('base').style.fill='#fb8d59';
          document.getElementById('oscuro1').style.fill='#58311f';
          document.getElementById('oscuro2').style.fill='#58311f';
          document.getElementById('claro').style.fill='#fdc6ac';
        }
      </script>
    </div>

  </div>
</div>

<div class="bg-black">
  <div class="mw8 center cf mv4 mv5-m mv6-l">
    <div class="fl tc mv4 w-100">
      <p class="f2 f1-l center lh-title lh-copy-l measure-narrow ma0 mb4">Put them together</p>
      <p class="f3 f2-l center lh-title lh-copy-l measure-narrow ma0 mv4">This display unit allows you to put as many as you need together, ensuring your games look better than ever.</p>
    </div>
    <div class="fl mb4 w-100">
      <img class="fr" src="Expositor-GBA---Multi.png" style="max-height: 42rem;"alt="">
    </div>
  </div>
</div>
