---
layout: default
---

{% include hero.html %}

<div class="bg-black" id="work">
  <div class="center cf">
    <div class="fl w-100 w-third-l mb4 mb5-m mb6-l">
      <p class="f4 f3-m f2-l">Websites</p>
      <ul class="list pl0">
        {% for website in site.websites reversed %}
          <li class="f4 f3-m f2-l mb2 lh-title hanging">
          {% if website.status == 'published' %}
          <a class="link white" href="{{ website.domain }}">{{ website.title}} <a class="link lime" href="{{ website.domain }}">&bull;</a></a>
          {% elsif website.status == 'new' %}
          <a class="link white" href="{{ website.domain }}">{{ website.title}} <a class="link lime new" href="{{ website.domain }}">&bull;</a></a>
          {% else %}
          <a class="link gray disabled" href="{{ website.domain }}">{{ website.title}} <a class="link red disabled" href="{{ website.domain }}">&bull;</a></a>
          {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="fl w-100 w-two-thirds-l mb4 mb5-m mb6-l">
      <p class="f4 f3-m f2-l">Album Covers</p>
      <ul class="list pl0">
        {% for cover in site.covers reversed %}
          <li class="f4 f3-m f2-l mb2 lh-title hanging">
          {% if cover.status == 'published' %}
          <a class="link white" href="{{ cover.url | absolute_url }}">{{ cover.title }}</a>
          {% elsif cover.status == 'new' %}
          <a class="link white" href="{{ cover.url | absolute_url }}">{{ cover.title }}</a>
          {% else %}
          <a class="link gray disabled" href="{{ cover.url | absolute_url }}">{{ cover.title }}</a>
          {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="fl w-100 w-third-l mb4 mb5-m mb6-l">
      <p class="f4 f3-m f2-l">Fonts</p>
      <ul class="list pl0">
        {% for font in site.fonts reversed %}
          <li class="f4 f3-m f2-l mb2 lh-title hanging">
          {% if font.status == 'published' %}
          <a class="link white" href="{{ font.url | absolute_url }}">{{ font.title }}</a>
          {% elsif font.status == 'new' %}
          <a class="link white" href="{{ font.url | absolute_url }}">{{ font.title }}</a>
          {% else %}
          <a class="link gray disabled" href="{{ font.url | absolute_url }}">{{ font.title }}</a>
          {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="fl w-100 w-third-l mb4 mb5-m mb6-l">
      <p class="f4 f3-m f2-l">App Icons</p>
      <ul class="list pl0">
        {% for icon in site.icons reversed %}
          <li class="f4 f3-m f2-l mb2 lh-title hanging">
          {% if icon.status == 'published' %}
          <a class="link white" href="{{ icon.url | absolute_url }}">{{ icon.title }}</a>
          {% elsif icon.status == 'new' %}
          <a class="link white" href="{{ icon.url | absolute_url }}">{{ icon.title }}</a>
          {% else %}
          <a class="link gray disabled" href="{{ icon.url | absolute_url }}">{{ icon.title }}</a>
          {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="fl w-100 w-third-l mb4 mb5-m mb6-l">
      <p class="f4 f3-m f2-l">Videos</p>
      <ul class="list pl0">
        {% for video in site.videos reversed %}
          <li class="f4 f3-m f2-l mb2 lh-title hanging">
          {% if video.status == 'published' %}
          <a class="link white" href="{{ video.url | absolute_url }}">{{ video.title }}</a>
          {% elsif video.status == 'new' %}
          <a class="link white" href="{{ video.url | absolute_url }}">{{ video.title }}</a>
          {% else %}
          <a class="link gray disabled" href="{{ video.url | absolute_url }}">{{ video.title }}</a>
          {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<!-- {% include contact.html %} -->

<!-- {% include changelog.html %} -->
