<div class="bg-black" id="changelog">
  <div class="mw8 center mh4 cf">

    <div class="cf mt5">
      <div class="fl w-100 w-two-thirds-ns lh-copy">
        <div class="mr3-ns">
          <p class="ttu tracked silver">Changelog:</p>
          <dl class="f3">
            {% for version in site.data.changelog reversed %}
            <dt>v{{ version.number }}</dt>
            {% for item in version.description %}
            <dd>{{ item }}</dd>
            {% endfor %}
            {% endfor %}
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
