<div class="bg-black" id="contact">
  <div class="center mh4 cf">

    <div class="cf mt5">
      <div class="fr w-100 w-two-thirds-ns lh-copy">
        <div class="w-80 mr3-ns">
          <p class="f3">
            Like something yo saw in here? Either you do or you don't know what you want, feel free to reach out at:<br>
            <a class="white" href="&#109;&#097;&#105;&#108;&#116;&#111;:&#110;&#101;&#115;&#116;&#111;&#114;&#118;&#101;&#114;&#097;&#064;&#109;&#101;&#046;&#099;&#111;&#109;">
              &#110;&#101;&#115;&#116;&#111;&#114;&#118;&#101;&#114;&#097;&#064;&#109;&#101;&#046;&#099;&#111;&#109;
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
