<div class="bg-navy" id="contact">
  <div class="mw8 center mh4 cf">

    <div class="mv3 mv5-ns cf">
      <h1 class="roboto">Contact</h1>
      <div class="fl w-100 w-50-ns lh-copy">
        <div class="mr3-ns">
          <p class="f4">Si vols començar a parlar sobre el teu projecte, omple el següent formulari amb la informació pertinent. Intenta sel·leccionar el pressupost que més s'apropi al real per que pugui fer-me una idea de les dimensions del projecte.</p>
          <p class="f5">Si prefereixes contactar-me directament a través de la meva direcció de correu, envia'm un email a <a class="white" href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x6E;&#x65;&#x73;&#x74;&#x6F;&#x72;&#x76;&#x65;&#x72;&#x61;&#x40;&#x6D;&#x65;&#x2E;&#x63;&#x6F;&#x6D;&#xA;">nestorvera@me.com</a>            i miraré de respondre el mateix dia.</p>
        </div>
      </div>

      <div class="fl w-100 w-50-ns">
        <div class="ml3-ns">
          <form class="white-80" method="POST" action="https://formspree.io/nestorvera@me.com">
            <div class="fl w-50">
              <div class="mr2">
                <label for="nom" class="f6 b db mb2">Name</label>
                <input type="text" id="nom" name="nom" class="roboto input-reset ba b--white-20 br0 pa2 mb3 db w-100" required>
              </div>
            </div>
            <div class="fl w-50">
              <div class="ml2">
                <label for="email" class="f6 b db mb2">Email</label>
                <input type="email" id="email" name="email" class="roboto input-reset ba b--white-20 br0 pa2 mb3 db w-100" required>
              </div>
            </div>
            <div class="">
              <label for="budget" class="f6 b db mb2">Budget</label>
              <select id="budget" name="budget" class="roboto input-reset ba b--white-20 br0 pa2 mb3 db w-100 bg-white" style="height: 2.25rem">
                <option>A Determinar</option>
                <option>Daily/Weekly</option>
                <option>100€ - 500€</option>
                <option>1000€ - 1500€</option>
                <option>1500€ or more</option>
              </select>
            </div>
            <div class="">
              <label for="missatge" class="f6 b db mb2">Message</label>
              <textarea id="missatge" name="missatge" class="roboto db border-box w-100 ba b--white-20 br0 pa2 mb4" style="height: 9rem; -webkit-appearance: none;" required></textarea>
            </div>

            <input type="text" name="_gotcha" style="display:none" />
            <input type="hidden" name="_format" value="plain" />

            <input type="hidden" name="_next" value="#" />

            <input class="grow link ba b--white mr3 br2 pa3 f5 mb3 dib black bg-white roboto b ttu pointer" type="submit" value="Enviar">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
