<div class="bg-black" id="contact">
  <div class="mw8 center mh4 cf">
    <div class="cf mt5">
      <div class="fl w-100 w-two-thirds-ns lh-copy">
        <div class="mr3-ns">
          <p class="f3">Do you like what you see? Feel free to reach out at:</p>
          <p class="f3">
            <a class="white" href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x6E;&#x65;&#x73;&#x74;&#x6F;&#x72;&#x76;&#x65;&#x72;&#x61;&#x40;&#x6D;&#x65;&#x2E;&#x63;&#x6F;&#x6D;&#xA;">hola@nestorvera.com</a>
            <br>+34 668 886 414</p>
        </div>
      </div>
    </div>
  </div>
</div>
