<button type="button" name="button" class="scroll-button mh3 mh5-ns" onclick="smoothScroll.animateScroll(0)">🔝🔝🔝</button>

<div class="cf bg-black">
  <div class="fr w-100 w-two-thirds-l pv4">
    <footer class="w-80 f5 f4-m f3-l lh-copy measure">
      <p class="f3" id="contact">
        Did you like something you saw in here? Either you do or you don't know what you want, feel free to reach out at:
        <a class="white" href="&#109;&#097;&#105;&#108;&#116;&#111;:&#110;&#101;&#115;&#116;&#111;&#114;&#118;&#101;&#114;&#097;&#064;&#109;&#101;&#046;&#099;&#111;&#109;">
          &#110;&#101;&#115;&#116;&#111;&#114;&#118;&#101;&#114;&#097;&#064;&#109;&#101;&#046;&#099;&#111;&#109;
        </a>
      </p>
      <p>Just so you know, I usually complain about stuff on <a class="white" href="https://twitter.com/hack_nug">Twitter</a>, share pics on <a class="white" href="https://instagram.com/hack_nug">Instagram</a>, do weird/random web experiments on <a class="white" href="http://codepen.io/hack_nug">CodePen</a>, and contribute to open-source projects on <a class="white" href="https://github.com/hacknug">GitHub</a>.</p>
      <!--<p>I also have an account for pretty much every other web service on the Internet. Just look for <code>hack_nug</code> if you want to reach out.</p>
      <p>DISCLAIMER: Some of those 💩 services don't allow underscores on their usernames. Look for <code>hacknug</code> instead.</p>-->
      <p class="f5 mt5">Copyright &copy; 2017 Nestor&nbsp;Vera.<br>All Rights Reserved.</p>
    </footer>
  </div>
</div>
