<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="black">

  {% seo %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Styles -->
  <style media="screen">
    {% include main.css %}
  </style>

  <!-- Headway Changelog
  <script>
    var HW_config = {
      selector: ".logo", // CSS selector where to inject the badge
      account: "J1Lmd7" // your account ID
    };
  </script>
  <script async src="//cdn.headwayapp.co/widget.js"></script> -->
</head>
