<header class="container cf mt3 mt4-ns mb1">
  <div class="logo fl w-100 w-third-ns mb3">
    <a class="title f4 f3-ns link white" href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a> <a class="title f4 f3-ns link silver" href="#changelog" data-scroll>{{ site.version }}</a>
  </div>
  <div class="fl w-100 w-two-thirds-ns mb3">
    <a class="f4 f3-ns link white mr3 mr5-ns" href="#work" data-scroll>Work</a>
    <a class="f4 f3-ns link white mr3 mr5-ns" href="#contact" data-scroll>Contact</a>
  </div>
</header>
