<div class="bg-black">
  <div class="cf mv4 mv5-m mv6-l">
    <div class="fr w-two-thirds f3">
      <p class="w-80 f4 f3-m f2-l lh-title lh-copy-l measure">
        My name's Nestor and I'm a freelancer working almost exclusively for the web on different projects as a front-end developer and/or digital designer from the city of Barcelona.
      </p>
      <p class="w-80 f4 f3-m f2-l lh-title lh-copy-l measure">
        Working by day at <a class="white" href="//llos.co">Llos.co</a> (a design-focused development studio) and contributing to open-source projects by night from home.
      </p>
    </div>
  </div>
</div>
