:root {
	--text-underline-opacity: 0.5;
	--text-underline-color: currentColor;
	--text-underline-background-color: black;
	--text-underline-position: -.14em;
	--text-underline-size: .02em;
	--text-underline-gap: .05em;
	--text-underline-gap-minimum: 1.5px;
}

[data-underline] {
	box-shadow: inset 0 calc(var(--text-underline-position) + var(--text-underline-size)) 0 0 var(--text-underline-background-color), inset 0 var(--text-underline-position) 0 0 color( var(--text-underline-background-color) alpha( calc( 1 - var(--text-underline-opacity) * 100%))), inset 0 var(--text-underline-position) 0 0 var(--text-underline-color);
	text-decoration: none;
	text-shadow: var(--text-underline-gap) 0 var(--text-underline-background-color), calc(-var(--text-underline-gap)) 0 var(--text-underline-background-color), var(--text-underline-gap-minimum) 0 var(--text-underline-background-color), -var(--text-underline-gap-minimum) 0 var(--text-underline-background-color);
}
