@font-face {
    font-family:'Atlas Grotesk Regular';
    src: url('fonts/Atlas Grotesk Regular.eot');
  	src: url('fonts/Atlas Grotesk Regular.eot?#iefix') format('embedded-opentype'),
  		url('fonts/Atlas Grotesk Regular.woff2') format('woff2'),
  		url('fonts/Atlas Grotesk Regular.woff') format('woff'),
  		url('fonts/Atlas Grotesk Regular.ttf') format('truetype'),
  		url('fonts/Atlas Grotesk Regular.svg#Atlas Grotesk Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB02;
}

@font-face {
    font-family:'Atlas Grotesk Regular';
    src: url('fonts/Atlas Grotesk Regular Italic.eot');
  	src: url('fonts/Atlas Grotesk Regular Italic.eot?#iefix') format('embedded-opentype'),
  		url('fonts/Atlas Grotesk Regular Italic.woff2') format('woff2'),
  		url('fonts/Atlas Grotesk Regular Italic.woff') format('woff'),
  		url('fonts/Atlas Grotesk Regular Italic.ttf') format('truetype'),
  		url('fonts/Atlas Grotesk Regular Italic.svg#Atlas Grotesk Regular Italic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-FB02;
}
