.scroll-button {
  position: fixed;
  bottom: 2rem;
  right: 0;
  background-color: white;
  border: none;
  border-radius: .5rem;
  padding: .5rem;
  font-size: 1.75rem;
  text-align: center;
}

.scroll-button--hidden {
  opacity: 0;
}
