.embed-container {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-container svg {
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    transform: translateY(-50%) translateX(-50%);
}

.embed-container svg .ytp-large-play-button-bg {
    transition: fill .1s cubic-bezier(.0,.0,.2,1),
                fill-opacity .1s cubic-bezier(.0,.0,.2,1);
}

.embed-container:hover svg .ytp-large-play-button-bg {
    fill: #cc181e;
    fill-opacity: 1;
}
