@import "tachyons";
@import "flickity";

@import "colors";
@import "fonts";

@import "youtube";
@import "scrollToTop";
//@import "betterUnderline";

.roboto {
  font-family: "Atlas Grotesk", sans-serif;
  letter-spacing: 0;
}

.cf {
  clear: both;
}

.cf-4th {
  &:nth-child(4n) {
    margin-right: 0;
    clear: both;
  }
}

.p-fix {
  &:nth-child(3n) {
    padding-right: 0;
    margin-right: 0;
  }
}

.carousel img {
  display: block;
  height: 30rem;
  margin-right: 2rem;
  min-width: 10rem;
}

.dot {
  background-color: white!important;
}

@media screen and (max-width: 48rem) {
  .carousel img {
    height: 20rem;
  }
}

a[href^="tel:"] {
  color: white;
}

/*
.new::after {
  content: 'new';
  color: lime;
  font-size: 1.5rem;
  position: absolute;
  padding-bottom: 1rem
} */

.disabled {
  pointer-events: none;
  cursor: default;
}

.hanging {
  padding-left: 1.25em;
  text-indent: -1.25em;
}

#HW_badge_cont {
  position: absolute;
}

#HW_badge {
  background: lime;
}

.li-m-dash:before {
  content: '—';
  padding-right: .5rem
}

.li-n-dash:before {
  content: '–';
  padding-right: .5rem
}

::selection {
  background-color: lime;
  color: black;
}

mark {
  background-color: lime;
  color: black;
  padding: .25rem;
  border-radius: .25rem;
}
