---
layout: default
---

{% for c in site.covers %}
{% if c.title == page.title %}
  {% assign thisPost = c %}
  {% if forloop.index == 1 %}
    {% assign prevflag = 0 %}
    {% assign nextflag = 1 %}
  {% elsif forloop.index == forloop.length %}
    {% assign prevflag = 1 %}
    {% assign nextflag = 0 %}
  {% else %}
    {% assign prevflag = 1 %}
    {% assign nextflag = 1 %}
  {% endif %}
{% endif %}
{% endfor %}

{% for c in site.covers %}
  {% if c.title == page.title %}
    {% assign prevflag = 0 %}
  {% endif %}
  {% if prevflag == 1 %}
    {% assign prevPost = c %}
    {% assign page.previous = c %}
  {% endif %}
{% endfor %}

{% if nextflag == 1 %}
  {% for c in site.covers %}
    {% if foundPost == 1 %}
      {% assign getNext = 1 %}
    {% endif %}
    {% if c.title == page.title %}
      {% assign foundPost = 1 %}
    {% endif %}
    {% if getNext == 1%}
      {% assign nextPost = c %}
      {% assign page.next = c %}
      {% assign foundPost = 0 %}
      {% assign getNext = 0 %}
    {% endif %}
  {% endfor %}
{% endif %}

<article itemscope itemtype="http://schema.org/BlogPosting" class="mw8 center mt5">

  <header>
    <div class="cf">
      <p class="f2 f1-ns" itemprop="name headline">{{ page.title }}</p>
    </div>
  </header>

  <div itemprop="articleBody">
    <div class="cf">
    	<img class="fl w-100 w-two-thirds-l" src="{{ page.domain }}" alt="">
    </div>
    <div class="mv5">
      {% if prevPost.url %}
      <a class="prev link white f3 fl" href="{{ site.baseurl }}{{prevPost.url}}">
          <span>&larr; {{prevPost.title}}</span>
      </a>
      {% endif %}
      {% if nextPost.url %}
      <a class="next link white f3 fr" href="{{ site.baseurl }}{{nextPost.url}}">
          <span>{{nextPost.title}} &rarr;</span>
      </a>
      {% endif %}
    </div>
  </div>

</article>

{% include contacto.html %}
