<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="bg-black white roboto ph3 ph4-l">

    {% include header.html %}

    <div>

      {{ content }}

    </div>

    {% include footer.html %}

    {% if site.enforce_ssl %}
    <script type="text/javascript">
      if (window.location.protocol != "https:") window.location.protocol = "https";
    </script>
    {% endif %}

    <script type="text/javascript">
      {% include index.min.js %}
      SmartUnderline.init();
      smoothScroll.init();
    </script>
  </body>
</html>
