---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting" class="container">

  <header>
    <p itemprop="name headline" class="f2 f1-ns">{{ page.title }}</p>
    <!--<p><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>-->
  </header>

  <div itemprop="articleBody" class="measure f4 f3-ns lh-copy">
    {{ content }}
  </div>

</article>
