---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting" class="container mt5">

  <header>
    <div class="cf">
      <p class="f2 f1-ns" itemprop="name headline">{{ page.title }}</p>
    </div>
  </header>

  <div itemprop="articleBody">
    <div class="cf">
      <div class="description cf mb6">
        <div class="w-100 w-two-thirds-ns fl">
          <div class="w-100 pr4">
            <p class="ttu tracked silver">Project Info</p>
            <p class="f3 f2-ns lh-copy mt3">{{ page.description }}</p>
          </div>
          <!--<div class="w-100 cf">
            <div class="w-third fl">
              <p class="ttu tracked silver">Year</p>
              <p class="f4 f3-ns lh-title mt3 hanging">{{ page.year }}</p>
            </div>
            <div class="w-third fl">
              <p class="ttu tracked silver">Client</p>
              <p class="f4 f3-ns lh-title mt3 hanging">{{ page.client }}</p>
            </div>
            <div class="w-third fl">
              <p class="ttu tracked silver">Collaborators</p>
              <ul class="list pl0">
                {% for collab in page.collaborators %}
                <li class="f4 f3-ns lh-copy hanging">{{ collab }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>-->
          <div class="w-100 cf">
            <div class="w-auto dib v-top mr5">
              <p class="ttu tracked silver">Year</p>
              <p class="f4 f3-ns lh-title mt3 hanging">{{ page.year }}</p>
            </div>
            <div class="w-auto dib v-top mr5">
              <p class="ttu tracked silver">Client</p>
              <p class="f4 f3-ns lh-title mt3 hanging">{{ page.client }}</p>
            </div>
            <div class="w-auto dib v-top mr5">
              <p class="ttu tracked silver">Collaborators</p>
              <ul class="list pl0">
                {% for collab in page.collaborators %}
                <li class="f4 f3-ns lh-copy hanging">{{ collab }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="w-100 w-third-ns fl">
          <div class="w-100 pl4">
            <p class="ttu tracked silver">Tools</p>
            <ul class="list pl0">
              {% for tool in page.tools %}
              <li class="f4 f3-ns lh-copy hanging">{{ tool }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      {{ content }}
    </div>
  </div>

</article>
